.add-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
  
    .progress-bar {
      width: 20px;
      height: 2px;
      background-color: rgb(121, 79, 231);
      position: absolute;
      bottom: 0;
      left: 0;
      animation: progressBarAnimation 1s linear forwards;
    }
  
    @keyframes progressBarAnimation {
      0% {
        left: 0;
      }
      50% {
        left: 40%;
      }
      100% {
        left: 65%;
        display: none;
      }
    }
  }