<div class="a_gHGjop"><span class="Q_aqMWAA"></span>
    <div class="location-content-section">
        <div class="current-location-container" style="display: flex; align-items: center;">
            <img width="20" src="../../../assets/location-icon.png" alt="">
            <p class="GBdiLxDn">Current Location</p>
        </div>
        <div class="wuRFbNUr">
            <p class="eN0Ny8Qp">Detect Using GPS</p><img width="15" src="../../../assets/arrow-icon.png" alt="">
        </div>
    </div>
    <div>
        <div class="hpKsA_EQ" style="display: flex; align-items: center;"><span class="iHQOQ61V"><img
                    style="margin-bottom: 8px;" src="../../../assets/search.png" width="15" alt=""></span><input
                type="text" class="fdXKyLVN" placeholder="Search for Society"></div>
    </div>
</div>