.a_gHGjop {
  border: 1px solid white;
  width: 320px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(15, 15, 15, 0.08);
  border-radius: 8px;
  text-align: initial;
  position: absolute;
  top: 375px;
  left: 250px;
  z-index: 1;
}
.k6cqyHQ_ {
  position: absolute;
  left: 0px;
  top: 66px;
  z-index: 6;
}

.Q_aqMWAA {
  position: absolute;
  border-bottom: 10px solid #ffffff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  top: -8px;
  z-index: 99999;
  display: inline-block;
  left: 8px;
}

.location-content-section {
  //   height: 56px;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  .current-location-container {
    display: flex;
    align-items: center;
    img,
    p {
      padding: 5px;
    }
  }
}

.GBdiLxDn {
  color: #0f0f0f;
  width: 142px;
  font-size: 0.7rem;
  font-weight: normal;
}

.eN0Ny8Qp {
  height: 20px;
  color: #6e43e5;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.hpKsA_EQ {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  margin: 16px;
  position: relative;
}
.iHQOQ61V {
  position: absolute;
  left: 18px;
  top: 0;
  bottom: 0;
  height: 18px;
  margin: auto;
  z-index: 6;
}
.fdXKyLVN {
  border: none;
  width: 190px;
  margin: 10px 16px 14px 48px;
}

.WJDDGBoj span:before {
  z-index: 3;
  position: absolute;
  right: 18px;
  top: 23px;
  font-size: 10px;
  color: #6e43e5;
}

.EHx0zVIz span:before {
  color: #0f0f0f;
  z-index: 3;
  font-size: 18px;
  position: absolute;
  left: 20px;
  top: 17px;
}
.oRejfyzp span:before {
  color: #0f0f0f;
  z-index: 3;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 9px;
  top: 16px;
}

.wuRFbNUr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
