<section class="container" *ngIf="!dataLoading">
  <app-header></app-header>
  <div class="container-fluid" style="margin-top: 90px">
    <div class="row">
      <div class="col-md-4">
        <div class="tutorial-section-content">
          <h1 class="main-heading">{{screenName}}</h1>
          <div class="ratings-section">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M18.333 10a8.333 8.333 0 11-16.667 0 8.333 8.333 0 0116.667 0zm-7.894-4.694A.476.476 0 009.999 5a.476.476 0 00-.438.306L8.414 8.191l-2.977.25a.48.48 0 00-.414.342.513.513 0 00.143.532l2.268 2.033-.693 3.039a.51.51 0 00.183.518.458.458 0 00.528.022L10 13.298l2.548 1.629a.458.458 0 00.527-.022.51.51 0 00.184-.518l-.693-3.04 2.268-2.032a.513.513 0 00.143-.532.48.48 0 00-.415-.342l-2.976-.25-1.147-2.885z"
                fill="#572AC8"></path>
            </svg>
            <span>4.87 (4.5M bookings)</span>
          </div>
          <div class="container guide-button-container" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <div class="child-container">
              <img src="../../../assets/blue-heart.png  " width="20" alt="" />
              <span>Massage Guide</span>
            </div>
            <img src="../../../assets/arrow-icon.png" width="15" alt="" />
          </div>
        </div>
        <div class="container" style="
            border: 1px solid rgb(227, 227, 227);
            margin-top: 20px;
            border-radius: 10px;
            position: sticky;
            top: 100px;
          ">
          <div class="row">
            <div class="service-carts-heading">
              <span>Select a service</span>
              <div>
                <div style="
                    width: 160px;
                    height: 1px;
                    background-color: rgb(228, 225, 225);
                  "></div>
              </div>
            </div>
            <div class="col-md-4" *ngFor="let service of serviceCardItems; let i = index">
              <div class="card mb-3 border-0">
                <div class="card-body">
                  <div [ngClass]="i.toString()" class="item-container m-0 mx-1"
                    (click)="toggleScroll(i, service.title, i)">
                    <img [ngClass]="{ active: activeIndex === i }" width="60" [src]="service.img" alt="" />
                    <span>{{ service.title }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div style="position: relative;">
          <img *ngIf="videoComplete" src="../../../assets/play-video.png" width="100"
            style="position: absolute;top: 230px;left: 390px;" alt="">
          <video #videoPlayer [muted]="true" autoplay="true" (click)="playPause()">
            <source
              src="https://content.urbanclap.com/videos/growth/luminosity/1655358691204-89c4a7/1655358691204-89c4a7.mp4"
              type="video/mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
          <div class="progress-container">
            <div class="progress-bar" [style.width.%]="progressPercentage"></div>
          </div>
        </div>

        <div class="parent-container" style="
            display: flex;
            border-top: 1px solid rgb(237, 237, 237);
            border-left: 1px solid rgb(237, 237, 237);
            border-bottom: 1px solid rgb(227, 227, 227);
            margin-top: 190px;
          ">
          <div style="
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0px 0px 0px 20px;
            ">
            <div class="main-container" style="padding: 15px;">
              <div *ngFor="let data of demoData; let i = index" class="row service-detail-list" [id]="'service-' + i">
                <span class="list-heading">{{data.serviceName}}</span>
                <div class="col-md-8 service-detail-list-child-container">
                  <div style="margin-top: 20px">
                    <span style="
                        font-size: 12px;
                        font-weight: 600;
                        color: rgb(6, 153, 163);
                        text-transform: uppercase;
                        background-color: rgb(230, 249, 249);
                        border-radius: 5px;
                        padding: 5px;
                      ">{{ data.serviceName }}</span><br />
                    <span style="
                        margin-top: 5px;
                        font-size: 16px;
                        font-weight: 700;
                        color: rgb(15, 15, 15);
                      ">{{ data.serviceTitle }}</span>
                  </div>
                  <div style="margin-top: 5px">
                    <svg width="15" height="15" viewBox="0 0 20 20" fill="" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M18.333 10a8.333 8.333 0 11-16.667 0 8.333 8.333 0 0116.667 0zm-7.894-4.694A.476.476 0 009.999 5a.476.476 0 00-.438.306L8.414 8.191l-2.977.25a.48.48 0 00-.414.342.513.513 0 00.143.532l2.268 2.033-.693 3.039a.51.51 0 00.183.518.458.458 0 00.528.022L10 13.298l2.548 1.629a.458.458 0 00.527-.022.51.51 0 00.184-.518l-.693-3.04 2.268-2.032a.513.513 0 00.143-.532.48.48 0 00-.415-.342l-2.976-.25-1.147-2.885z"
                        fill="#572AC8"></path>
                    </svg>
                    <span style="font-size: 12px; opacity: 0.6;margin-left: 5px;">{{
                      data.reviews
                      }}</span>
                  </div>
                  <div
                    style="display: flex; align-items: center; margin-top: 10px; border-bottom: 2px dotted rgb(239, 235, 235);padding-bottom: 20px;">
                    <span style="font-size: 12px; font-weight: 700">₹{{
                      data.serviceAmount
                      }}</span>

                    <span style="
                        font-size: 12px;
                        font-weight: 400;
                        opacity: 0.6;
                        margin-left: 5px;
                      ">1 hr 5 mins</span>
                  </div>
                  <div class="edit-package-container" style="
                      margin-top: 20px;
                    ">
                    <ul style="margin-top: 10px;padding-left: 1rem;">
                      <li *ngFor="let desc of data.description" class="edit-packages-list"
                        style="font-size: 12px; font-weight: 700">
                        Haircut:
                        <span style="
                            opacity: 0.5;
                            font-size: 12px;
                            line-height: 16px;
                            font-weight: 400;
                          ">{{desc}}</span>
                      </li>
                      <!-- <li class="edit-packages-list" style="font-size: 12px; font-weight: 700">
                        Shave/beared grooming:
                        <span style="
                            opacity: 0.5;
                            font-size: 12px;
                            font-weight: 400;
                          ">Beared trimming & styling</span>
                      </li>
                      <li class="edit-packages-list" style="font-size: 12px; font-weight: 700">
                        Face care:
                        <span style="
                            opacity: 0.5;
                            font-size: 12px;
                            font-weight: 400;
                          ">Skin Brighting Facial</span>
                      </li> -->
                    </ul>
                    <button style="
                        cursor: pointer;
                        width: 150px;
                        padding: 5px;
                        font-weight: bold;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 20px;
                        color: rgb(15, 15, 15);
                        padding: 5px;
                        border: 1px solid rgb(193, 188, 188);
                        border-radius: 5px;
                        background-color: white;
                        margin-top: 10px;
                      ">
                      Edit your package
                    </button>
                  </div>
                </div>
                <div class="col-md-4 card-container">
                  <div class="image-card" style="position: relative">
                    <div style="width: 120px; border-radius: 10px">
                      <img style="
                          border-radius: 10px;
                          width: 100%;
                          height: 100%;
                          object-fit: contain;
                        " [src]="data.serviceImage" alt="" />
                    </div>
                    <div class="add-cart-button" *ngIf="data.showAddCartButton" (click)="increment(data, i)" style="
                        cursor: pointer;
                        color: rgb(121, 79, 231);
                        font-size: 14px;
                        font-weight: 600;
                        border: 1px solid rgb(121, 79, 231);
                        position: absolute;
                        width: 70px;
                        padding: 5px;
                        border-radius: 5px;
                        left: 25px;
                        bottom: -10px;
                        background-color: white;
                      ">
                      Add
                      <span *ngIf="data.showAddCartButton" class="progress-bar"></span>
                    </div>
                    <div class="add-cart-button" *ngIf="!data.showAddCartButton" style="
                        cursor: pointer;
                        color: rgb(121, 79, 231);
                        border: 1px solid rgb(121, 79, 231);
                        position: absolute;
                        width: 70px;
                        padding: 5px;
                        border-radius: 8px;
                        left: 25px;
                        bottom: -10px;
                        background-color: white;
                      ">
                      <span (click)="decrementSelectedServices(data, i)" class="cart-counter"
                        style="font-size: 15px">-</span><span style="margin-left: 5px; font-size: 15px"
                        class="cart-counter">{{ data.cartCount }}</span><span (click)="increment(data, i)"
                        style="margin-left: 5px; font-size: 15px" class="cart-counter">+</span>
                      <span *ngIf="!data.showAddCartButton" class="progress-bar"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-container>
            <div class="right-side-container" style="
                padding-top: 15px;
                display: flex;
                align-items: center;
                margin-left: 25px;
                flex-direction: column;
                position: sticky;
                top: 70px;
                width: 100%;
              ">
              <div class="empty-cart-container">
                <div class="empty-cart-container-2" *ngIf="selectedServices.length <= 0">
                  <img src="../../../assets/shoping-cart.png" width="50" alt="" />
                  <span style="font-size: 14px; font-weight: 400">No items in cart</span>
                </div>
                <div class="selected-cart-item-list-container" *ngIf="selectedServices.length > 0">
                  <h4>Cart</h4>
                  <ng-container *ngFor="let service of demoData; let item = index">
                    <div class="item-list" style="
                        display: flex;
                        align-items: center;
                      ">
                      <div style="width: 150px" *ngIf="service.cartCount > 0">
                        <span style="color: black; width: 100%">{{
                          service.serviceTitle
                          }}</span>
                      </div>
                      <div *ngIf="service.cartCount > 0" class="add-cart-button" style="
                          cursor: pointer;
                          color: rgb(121, 79, 231);
                          border: 1px solid rgb(121, 79, 231);
                          width: 70px;
                          padding: 5px;
                          border-radius: 8px;
                          background-color: white;
                          display: flex;
                          align-items: center;
                          justify-content: space-around;
                        ">
                        <span (click)="decrement(service, item)" style="color: rgb(121, 79, 231); font-size: 15px"
                          class="cart-counter">-</span><span style="
                            color: rgb(121, 79, 231);
                            font-size: 15px;
                          " class="cart-counter" *ngIf="service.cartCount > 0">{{ service.cartCount }}</span><span
                          (click)="increment(service, item)" style="
                            color: rgb(121, 79, 231);
                            font-size: 15px;
                          " class="cart-counter">+</span>
                      </div>

                      <div style="width: 50px">
                        <span style="margin-left: 10px" *ngIf="service.cartCount > 0">₹{{ service.serviceAmount * service.cartCount
                          }}</span>
                      </div>
                    </div>
                    <ul style="margin-top: 5px; padding-left: 20px; font-size: 12px;font-weight: 400; opacity: 0.6;"
                      *ngIf="service.cartCount > 0">
                      <li *ngFor="let description of service.description">{{description}}</li>
                    </ul>
                    <p data-bs-toggle="modal" data-bs-target="#editModal"
                      style="cursor: pointer; font-size: 14px;font-weight: 600; line-height: 20px; color: rgb(110,66, 229);"
                      *ngIf="service.cartCount > 0">
                      Edit
                    </p>
                  </ng-container>
                  <div style="margin-bottom: 10px; height: 3px; background-color: #f1f1f1; width: 100%;margin-left: 0;">
                  </div>
                  <div class="view-cart-button-container" style="
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      cursor: pointer;
                    ">
                    <div class="view-cart-button" (click)="
                        viewCartDetail(selectedServices, totalAmountOfService)
                      ">
                      <span>₹{{ totalAmountOfService }}</span>
                      <span>View Cart</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="offer-list-container">
                <div class="accordion-item" [ngClass]="{ 'open': isOpen }">
                  <div class="offer-list-child-container">
                    <div class="percentage-icon-container">
                      <img src="../../../assets/percentage-icon.png" width="25" alt="" />
                    </div>
                    <div class="offer-list-text-container">
                      <span class="main-content">20% off on Kotak Silk cards</span>
                      <span style="font-size: 14px; color: rgb(165, 163, 163)">20% off up to INR 350</span>
                    </div>
                  </div>
                  <div class="content" [@accordionContent]="isOpen ? 'expanded' : 'collapsed'">
                    <div class="offer-list-child-container">
                      <div class="percentage-icon-container">
                        <img src="../../../assets/percentage-icon.png" width="25" alt="" />
                      </div>
                      <div class="offer-list-text-container">
                        <span class="main-content">20% off on Kotak Silk cards</span>
                        <span style="font-size: 14px; color: rgb(165, 163, 163)">20% off up to INR 350</span>
                      </div>
                    </div>
                    <div class="offer-list-child-container">
                      <div class="percentage-icon-container">
                        <img src="../../../assets/percentage-icon.png" width="25" alt="" />
                      </div>
                      <div class="offer-list-text-container">
                        <span class="main-content">20% off on Kotak Silk cards</span>
                        <span style="font-size: 14px; color: rgb(165, 163, 163)">20% off up to INR 350</span>
                      </div>
                    </div>
                    <div class="offer-list-child-container">
                      <div class="percentage-icon-container">
                        <img src="../../../assets/percentage-icon.png" width="25" alt="" />
                      </div>
                      <div class="offer-list-text-container">
                        <span class="main-content">20% off on Kotak Silk cards</span>
                        <span style="font-size: 14px; color: rgb(165, 163, 163)">20% off up to INR 350</span>
                      </div>
                    </div>
                    <div class="offer-list-child-container">
                      <div class="percentage-icon-container">
                        <img src="../../../assets/percentage-icon.png" width="25" alt="" />
                      </div>
                      <div class="offer-list-text-container">
                        <span class="main-content">20% off on Kotak Silk cards</span>
                        <span style="font-size: 14px; color: rgb(165, 163, 163)">20% off up to INR 350</span>
                      </div>
                    </div>
                    <div class="offer-list-child-container">
                      <div class="percentage-icon-container">
                        <img src="../../../assets/percentage-icon.png" width="25" alt="" />
                      </div>
                      <div class="offer-list-text-container">
                        <span class="main-content">20% off on Kotak Silk cards</span>
                        <span style="font-size: 14px; color: rgb(165, 163, 163)">20% off up to INR 350</span>
                      </div>
                    </div>
                  </div>
                  <button class="accordion-button" (click)="toggleAccordion()">{{ isOpen ? 'View Less Offers' :
                    'ViewMore Offers' }}
                    <img src="../../../assets/accordian-close.png" width="15" style="margin-left: 5px" [ngStyle]="{
                        transform: 'rotate(' + rotationAngle + 'deg)'}" alt="" />
                  </button>
                </div>

              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="toast" [ngClass]="{ show: cartLimitOver }">
    <span>{{ message }}</span>
  </div>
</section>
<div class="container-fluid mt-3 mx-0" style="text-decoration: none;" *ngIf="!dataLoading">
  <footer class="text-center text-lg-start text-dark" style="background-color: rgb(245,245,245)">
    <div class="container p-4 pb-0">
      <section class="">
        <div class="app-logo" style="margin:0px 0px 35px 35px;">
          <img src="../../../assets/app-logo-footer.webp" alt="">
        </div>
        <div class="row">
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="headings mb-4 font-weight-bold">Company</h5>
            <p>
              <a class="text-dark">About us</a>
            </p>
            <p>
              <a class="text-dark">Terms & conditions</a>
            </p>
            <p>
              <a class="text-dark">Privacy policy</a>
            </p>
            <p>
              <a class="text-dark">Anti-discrimication policy</a>
            </p>
            <p>
              <a class="text-dark">UC impact</a>
            </p>
            <p>
              <a class="text-dark">Carrers</a>
            </p>
          </div>

          <hr class="w-100 clearfix d-md-none" />

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="headings mb-4 font-weight-bold">For customers</h5>
            <p>
              <a class="text-dark">UC reviews</a>
            </p>
            <p>
              <a class="text-dark">Categories near you</a>
            </p>
            <p>
              <a class="text-dark">Blog</a>
            </p>
            <p>
              <a class="text-dark">Contact us</a>
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none" />
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="headings mb-4 font-weight-bold">
              For Partners
            </h5>
            <p>
              <a class="text-dark">Register as a professional</a>
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none" />
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3"
            style="display: flex; align-items: center; flex-direction: column;">
            <h5 class="headings mb-4 font-weight-bold">Social links</h5>
            <div class="d-flex align-items-center">
              <div
                style="margin: 0px 0px 0px 0px;padding: 5px; width: 40px;height: 40px; border-radius: 50%;background-color: #fff;border: 1px solid rgb(227,227,227);">
                <img src="../../../assets/twitter-white-bg.png"
                  style="width: 100%; object-fit: contain; border-radius: 50%;" alt="">
              </div>
              <div
                style="margin: 0px 0px 0px 5px;padding: 5px; width: 40px;height: 40px; border-radius: 50%;background-color: #fff;border: 1px solid rgb(227,227,227);">
                <img src="../../../assets/facebook-white-bg.png"
                  style="width: 100%; object-fit: contain; border-radius: 50%;" alt="">
              </div>
              <div
                style="margin: 0px 0px 0px 5px;padding: 5px; width: 40px;height: 40px; border-radius: 50%;background-color: #fff;border: 1px solid rgb(227,227,227);">
                <img src="../../../assets/instagram-white-bg.png"
                  style="width: 100%; object-fit: contain; border-radius: 50%;" alt="">
              </div>
              <div
                style="margin: 0px 0px 0px 5px;padding: 5px; width: 40px;height: 40px; border-radius: 50%;background-color: #fff;border: 1px solid rgb(227,227,227);">
                <img src="../../../assets/whatsapp-white-bg.png"
                  style="width: 100%; object-fit: contain; border-radius: 50%;" alt="">
              </div>

            </div>
            <div style="width: 120px; height: 40px;" class="mt-3">
              <img style="width: 100%; height: 100%; object-fit: cover;" src="../../../assets/app-store-icon.png"
                alt="">
            </div>
            <div style="width: 120px; height: 40px;" class="mt-3">
              <img style="width: 100%; height: 100%; object-fit: cover;" src="../../../assets/google-play-icon.png"
                alt="">
            </div>
          </div>
        </div>
      </section>
      <hr class="my-3">
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <div class="p-2">
              © 2023 Copyright:
              <a class="text-dark" href="#">RedSky.com</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </footer>
</div>
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Test
</button> -->

<div class="modal fade slide-up" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div type="button" data-bs-dismiss="modal" aria-label="Close"
    style="display: flex; align-items: center;justify-content: center; background-color: #fff; width: 32px; height: 32px; border-radius: 50%; position: absolute; z-index: 10; top: 10px; left: 895px;">
    <img src="../../../assets/icons8-close-480.png" width="20">
  </div>
  <div class="modal-dialog mt-5" style="border-radius: 10px;border-bottom-left-radius: 10px;">
    <div class="modal-content">
      <div style="border-radius: 10px;" class="modal-body">
        <img style="width: 100%; height: 100%;" src="../../../assets/modal-image.webp" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade slide-up" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div style="position: relative;">
    <div (click)="closeModal()" type="button" data-bs-dismiss="modal" aria-label="Close"
      style="display: flex; align-items: center;justify-content: center; background-color: #fff; width: 32px; height: 32px; border-radius: 50%; position: absolute; z-index: 10; top: -40px; left: 935px;">
      <img src="../../../assets/icons8-close-480.png" width="20">
    </div>
  <div class="modal-dialog mt-5">
    <div class="modal-content" style="background-color: rgb(255,255,255);" *ngFor="let service of demoData; let item = index">
      <div class="modal-body" *ngIf="service.cartCount > 0">
        <div tabindex="0"
          class="css-1dbjc4n r-15xlzsq r-wh77r2 r-17gur6a r-1loqt21 r-ymttw5 r-1otgn73 r-1i6wzkk r-lrvibr r-13qz1uu"
          style="transition-duration: 0s;">
          <div class="css-1dbjc4n r-1472mwg r-lrsllp"></div>
          <div class="css-1dbjc4n r-13qz1uu" style="overflow: visible;">
            <div class="css-1dbjc4n r-13qz1uu" style="overflow: visible;">
              <div aria-disabled="true" tabindex="-1" class="css-1dbjc4n r-1i6wzkk r-lrvibr"
                style="transition-duration: 0s;">
                <div class="css-1dbjc4n r-13qz1uu">
                  <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1wtj0ep r-13qz1uu">
                    <div class="css-1dbjc4n r-1habvwh r-13awgt0 r-eqz5dr r-1777fci r-13qz1uu">
                      <h2 dir="auto" aria-level="2" role="heading"
                        class="css-4rbku5 css-901oao css-cens5h r-12qh9nz r-b88u0q r-fdjqy7 r-13wfysu r-3twk1y r-13qz1uu"
                        style="margin-left: 10px; -webkit-line-clamp: 2; color: rgb(15, 15, 15); font-size: 28px; line-height: 40px;">{{service.serviceName}}</h2>
                      <div style="margin-left: 10px; display: flex; align-items: center;">
                        <div>
                          <svg width="15" style="margin-bottom: 15px;" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm9 0V6h2v5h5v2h-6a1 1 0 01-1-1z"
                              fill="#0F0F0F"></path>
                          </svg>
                        </div>
                        <div>
                          <p dir="auto" role="paragraph"
                            class="css-901oao r-1ej5qbt r-1enofrn r-16dba41 r-1cwl3u0 r-fdjqy7 r-13wfysu r-3twk1y"
                            style="margin-left: 10px; color: rgb(15, 15, 15);">Service time: 60 mins</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="choose-service-main-container">
          <h4 style="font-size: 1.5rem;margin: 20px 0px 0px 10px;">Hair cut</h4>
          <ng-container *ngFor="let services of service.description; let optionId = index">
            <div style="display: flex; align-items: center;margin-left: 10px;margin-top: 15px;">
              <input class="custom-radio" id="option{{optionId}}" type="radio" name="option1">
              <label style="margin-left: 10px;font-size: 14px;font-weight: 600;line-height: 24px;" for="option{{optionId}}">
               {{services}}
              </label>
            </div>
          </ng-container>
          <div class="footer-main-container">
            <div class="footer-child-container">
              <p style="font-size: 14px; font-weight: 700;line-height: 24px;margin-top: 10px;">₹{{service.serviceAmount * service.cartCount}}</p>
              <button>
                Add to cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
<app-skelton *ngIf="dataLoading"></app-skelton>