<section class="header-section">
    <div class="tutorial-section">
        <div class="tutorial-section-content">
            <h1 class="main-heading">Salon Prime for kids & <br> men</h1>
            <div class="ratings-section">
                <img src="../../../assets/star.png" alt="" width="10">
                <span>4.87 (4.5M bookings)</span>
            </div>
        </div>
        <div class="add-video-container">
            <video width="500" src="../../../assets/1006936279-preview.mp4" autoplay="true"></video>
        </div>
    </div>
    <div style="height: 4px; margin-top: 40px; background-color: rgb(237,237,237); width: 80vw;"></div>
    <div class="services-list">
        <div class="item-container" *ngFor="let service of serviceCardItems;  let i = index"
            (click)="[toggleScroll(i,service.title,'.service-detail-list'),scrollToTop(i)]">
            <img [ngClass]="{ 'active': activeIndex === i }" width="60" [src]="service.img" alt="">
            <span>{{service.title}}</span>
        </div>
    </div>
    <div class="parent-container" style="display: flex;">
        <div style=" display: flex; align-items: center; justify-content: space-between;">
            <div class="main-container">
                <div *ngFor="let data of demoData; let item = index" class="service-detail-list">
                    <div class="service-detail-list-child-container">
                        <div style="margin-top: 20px;">
                            <span style="font-size: 0.7rem; color: rgb(101,184,192);">{{data.serviceName}}</span>
                            <h5 style="margin-top: 5px;">{{data.serviceTitle}}</h5>
                        </div>
                        <div style="margin-top: 5px;">
                            <img width="10" src="../../../assets/star.png" alt="">
                            <span style="font-size: 0.7rem; opacity: 0.6;">4.85(815k reviews)</span>
                        </div>
                        <div style="display: flex; align-items: center; margin-top: 10px;">
                            <span style="font-size: 0.6rem;">$400</span>
                            <p style="text-decoration: line-through; opacity: 0.7; margin-left: 5px;">$559</p>
                            <ul>
                                <li style="font-size: 0.5rem; opacity: 0.6; margin-left: 5px;">1 hr 5 mins</li>
                            </ul>
                        </div>
                        <span style="font-size: 0.8rem; opacity: 0.6;">$50 of above $ 399</span>
                        <div class="edit-package-container"
                            style="border-top: 3px dotted rgb(193, 188, 188); margin-top: 20px;">
                            <ul style="margin-top: 10px;">
                                <li class="edit-packages-list" style="font-size: 0.7rem;">Haircut <span
                                        style="opacity: 0.5;">Haircut for men</span></li>
                                <li class="edit-packages-list" style="font-size: 0.7rem;">Shave/beared grooming <span
                                        style="opacity: 0.5;">Beared trimming & styling</span></li>
                                <li class="edit-packages-list" style="font-size: 0.7rem;">Face care <span
                                        style="opacity: 0.5;">Skin Brighting Facial</span></li>
                            </ul>
                            <button
                                style="cursor: pointer; width: 150px; font-weight: bold; font-size: 0.8rem; padding: 5px; border: 1px solid rgb(193, 188, 188); border-radius: 5px; background-color: white; margin-top: 10px;">Edit
                                your package</button>
                        </div>
                    </div>
                    <div class="card-container" style="margin-right: 50px;">
                        <div class="image-card" style="position: relative;">
                            <img width="80" style="border-radius: 10px;" src="../../../assets/men&kids-haircut.webp"
                                alt="">
                            <div class="add-cart-button" *ngIf="addCart" (click)="addCartList()"
                                style="cursor: pointer; color: rgb(121,79,231); border: 1px solid rgb(121,79,231); position: absolute; width: 50px; padding: 5px;  border-radius: 5px; left: 10px; bottom: -10px; background-color: white;">
                                Add
                                <span class="progress-bar"></span>
                            </div>
                            <div class="add-cart-button" *ngIf="cartPresent"
                                style="cursor: pointer; color: rgb(121,79,231); border: 1px solid rgb(121,79,231); position: absolute; width: 50px; padding: 5px;  border-radius: 5px; left: 10px; bottom: -10px; background-color: white;">
                                <span (click)="decrement()" class="cart-counter">-</span><span style="margin-left: 5px;"
                                    class="cart-counter">{{counterValue}}</span><span (click)="increment()"
                                    style=" margin-left: 5px;" class="cart-counter">+</span>
                                <span class="progress-bar"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side-container"
            style="margin-top: 30px ; display: flex; align-items: center; margin-left: 50px; flex-direction: column; position: sticky; top: 0px;">
            <div class="empty-cart-container">
                <div class="empty-cart-container-2" *ngIf="emptyCart">
                    <img src="../../../assets/shoping-cart.png" width="50" alt="">
                    <span>No items in cart</span>
                </div>

                <div class="selected-cart-item-list-container" *ngIf="cartPresent">
                    <h4>Cart</h4>
                    <div class="item-list"
                        style="display: flex; align-items: center; justify-content: space-between; margin-top: 15px;">
                        <span style="color: black;">selected item</span>
                        <div class="add-cart-button"
                            style="cursor: pointer; color: rgb(121,79,231); border: 1px solid rgb(121,79,231);width: 50px; padding: 5px;  border-radius: 5px; left: 10px; bottom: -10px; background-color: rgb(245,242,253);">
                            <span (click)="decrement()" class="cart-counter">-</span><span style="margin-left: 5px;"
                                class="cart-counter">{{counterValue}}</span><span (click)="increment()"
                                style=" margin-left: 5px;" class="cart-counter">+</span>
                        </div>
                        <span>cost</span>
                    </div>
                    <app-line></app-line>
                    <div class="view-cart-button-container"
                        style="display: flex; align-items: center; justify-content: center; margin-top: 10px;">
                        <div class="view-cart-button">
                            <span>$100</span>
                            <span>View Cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offer-list-container">

                <div class="offer-list-child-container">
                    <div class="percentage-icon-container">
                        <img src="../../../assets/percentage-icon.png" width="25" alt="">
                    </div>
                    <div class="offer-list-text-container">
                        <span class="main-content">20% off on Kotak Silk cards</span>
                        <span style="font-size: 0.6rem; color: rgb(165, 163, 163);">20% off up to INR 350</span>
                    </div>
                </div>
                <div class="accordion-container">
                    <button style="background-color: white; font-weight: bold; font-size: 0.7rem; color: rgb(121,79,231);"
                        (click)="toggleAccordion()" class="accordion-button">{{ showContent ? 'View More Offers' :
                        'View More Offers' }}</button>
                    <div *ngIf="showContent" class="accordion-content">
                        <div class="accordion-item">
                            <div *ngFor="let data of buttons" class="offer-list-child-container">
                                <div class="percentage-icon-container">
                                    <img [src]="data.img" width="25" alt="">
                                </div>
                                <div class="offer-list-text-container">
                                    <span class="main-content">{{data.title}}</span>
                                    <span style="font-size: 0.6rem; color: rgb(165, 163, 163);">{{data.title}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>