<nav class="navbar navbar-expand-sm" id="navbar-container"
  style="position: sticky;border-bottom: 2px solid rgb(237,237,237);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img style="width: 132px; height: 39px;" src="../../../assets/app-logo-dark.webp" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div id="select-container" style=" width: 200px; margin-right: 10px;">
        <select
          style="width: 100%; padding: 15px; font-size: 14px; border: 1px solid rgb(222,226,230);margin-top: 10px;"
          class="form-select me-2 custom-input" aria-label="Search">
          <option selected>Chandigarh</option>
          <option value="option1">Mohali</option>
          <option value="option2">Nalagarh</option>
          <option value="option3">Kharar</option>
        </select>
      </div>
      <div class="search-input-container">
        <img src="../../../assets/search.png" width="15" alt="">
        <input class="form-control me-2 custom-input" style="width: 100%; padding: 15px; font-size: 14px;" type="search"
          placeholder="Search in Spa for Women" aria-label="Search">
      </div>

    </div>
  </div>
</nav>