.header-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .sub-heading {
    font-size: 0.8rem;
    margin-top: 10px;
    color: rgb(130, 129, 129);
  }
}
