<!-- <button #modalOpenerBtn type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
</button> -->

<div class="modal fade slide-up-from-bottom mt-5" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog mt-5" style="border-radius: 15px;border-bottom-left-radius: 10px;">
    <div class="modal-content" style="border-radius: 20px;  ">
      <div type="button" data-bs-dismiss="modal" aria-label="Close"
        style="display: flex; align-items: center;justify-content: center; background-color: #fff; width: 32px; height: 32px; border-radius: 50%; position: absolute; z-index: 10; top: -40px; right: 0px;">
        <img src="../../../assets/icons8-close-480.png" width="20">
      </div>
      <div class="modal-body">
        <div class="search-modal-main-container">
          <div class="content-container-address-section">
            <div class="search-bar-section">
              <div style="display: flex; align-items: center;">
                <img src="../../../assets/search.png" width="18" style="cursor: pointer; opacity: 0.8;" alt="">
                <input (input)="getInputValue(address.value)" #address type="text" autofocus
                  placeholder="Enter mobile number">
              </div>
              <img *ngIf="inputExist" style="cursor: pointer;" src="../../../assets/close-icon.png" width="25" alt="">
            </div>
            <div data-bs-toggle="modal" data-bs-target="#mapModal"
              style="cursor: pointer; display: flex; align-items: center;margin-top: 20px;">
              <svg width="17" viewBox="0 0 20 20" fill="#6E42E5" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.063 3.504V5h1.874V3.504a6.567 6.567 0 015.559 5.559H15v1.874h1.496a6.567 6.567 0 01-5.558 5.559V15H9.062v1.496a6.567 6.567 0 01-5.558-5.558H5V9.062H3.504a6.567 6.567 0 015.559-5.558zm0-1.89a8.44 8.44 0 00-7.449 7.449H0v1.874h1.614a8.44 8.44 0 007.449 7.449V20h1.874v-1.614a8.44 8.44 0 007.449-7.448H20V9.062h-1.614a8.44 8.44 0 00-7.448-7.448V0H9.062v1.614zM10 8.438a1.563 1.563 0 100 3.125 1.563 1.563 0 000-3.126zM6.562 10a3.437 3.437 0 116.875 0 3.437 3.437 0 01-6.874 0z"
                  fill="#6E42E5"></path>
              </svg>
              <span style="margin-left: 10px; font-size: 14px;font-weight: 400;color: rgb(121, 79, 231)">Use current
                location</span>
            </div>
          </div>
          <div style="margin-top: 20px; width: 100%;height: 8px ;background-color: rgb(245,245,245) ;"></div>
          <div class="empty-location-contant">
            <svg width="100" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 20h20v44H10V20z" fill="#FFD47F"></path>
              <path d="M22 8h20L30 20H10L22 8z" fill="#9E4D10"></path>
              <path d="M30 20L42 8l12 12v44H30V20z" fill="#FFE0A3"></path>
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M18 28h-4v10h4V28zm0 14h-4v10h4V42zm4-14h4v10h-4V28zm4 14h-4v10h4V42z" fill="#fff"></path>
              <path
                d="M54.411 28.006a13.998 13.998 0 00-8.222 2.39 14.047 14.047 0 00-5.302 6.738 14.081 14.081 0 00-.405 8.57c.76 2.83 2.384 5.35 4.644 7.21a30.672 30.672 0 016.19 6.622 23.79 23.79 0 012.182 4.141.543.543 0 00.79.235.542.542 0 00.2-.235 23.156 23.156 0 012.244-4.079 29.861 29.861 0 016.082-6.576 13.954 13.954 0 003.873-4.951 13.985 13.985 0 001.311-6.154 14.625 14.625 0 00-4.145-9.554 14.563 14.563 0 00-9.442-4.357z"
                fill="#DC2804"></path>
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M54 40.586l-4.293-4.293-1.414 1.414L52.586 42l-4.294 4.294 1.415 1.414L54 43.414l4.293 4.293 1.414-1.414L55.414 42l4.293-4.293-1.414-1.414L54 40.586z"
                fill="#fff"></path>
            </svg>
            <div class="text-container">
              <h3 style="font-size: 20px;line-height: 28px;font-weight: 600;">Location could not be fetched</h3>
              <span style="font-size: 14px;line-height: 24px;">Please try searching agian</span>
            </div>
            <img src=".././../../assets/google-add.png" width="100" style="margin-top: 100px;" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button #modalOpenerBtn type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
</button> -->

<div class="modal fade slide-up-from-bottom mt-5" id="mapModal" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog mt-5"
    style="border-radius: 15px;border-bottom-left-radius: 10px;max-width: 65%;width: auto;">
    <div class="modal-content" style="border-radius: 20px; width: auto;" id="map-modal">
      <div type="button" data-bs-dismiss="modal" aria-label="Close"
        style="display: flex; align-items: center;justify-content: center; background-color: #fff; width: 32px; height: 32px; border-radius: 50%; position: absolute; z-index: 10; top: -40px; right: 0;">
        <img src="../../../assets/icons8-close-480.png" width="20">
      </div>
      <div class="modal-body">
        <div class="select-location-from-map-container">
          <div class="image-container">
            <iframe src="https://www.google.com/maps/d/embed?mid=1B1lAsUpYFg82Je7XN1_cxRPf1UU&hl=en_US&ehbc=2E312F"
              width="640" height="480"></iframe>
          </div>
          <div class="address-detail-form-container">
            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="change-location-btn">Change</button>
            <div class="detail-container mt-3">
              <h3 style="font-size: 20px;line-height: 28px;font-weight: 600;">Phase 1</h3>
              <p style="font-size: 14px;line-height: 24px;font-weight: 400;">Phase 1, Sector 55, Shakti Market, Mohali
                Village, SAS Nagar, Punjab, 160055, India</p>
            </div>
            <div class="inputs-container" style="width: 400px;">
              <div class="details-input" [ngClass]="{'focused': isInputFocused}">
                <input [(ngModel)]="homeDetailValue" (ngModelChange)="onHomeDetailChange($event)"
                  (blur)="isInputFocused = false" (focus)="isInputFocused = true" #homeDetail
                  (input)="getHomeDetail(homeDetail.value)" type="text" placeholder="House/Flat Number" name="house"
                  id="">
                <img (click)="clearInput(homeDetail)" *ngIf="homeVal" src="../../../assets/close-icon.png" width="20"
                  alt="">
              </div>
              <div class="details-input mt-3" [ngClass]="{'focused': isInputFocused2}">
                <input [(ngModel)]="landMarkValue" (ngModelChange)="onLandMarkChange($event)"
                  (focus)="isInputFocused2 = true" (blur)="isInputFocused2 = false" #landMarkDetail
                  (input)="getlandMarkDetail(landMarkDetail.value)" type="text" placeholder="Landmark (Optional)"
                  name="landmark" id="">
                <img (click)="clearInput(landMarkDetail)" *ngIf="landVal" src="../../../assets/close-icon.png"
                  width="20" alt="">
              </div>
            </div>
            <div class="type-buttons">
              <span style="margin-top: 20px; font-size: 14px;font-weight: 400;line-height: 24px;opacity: 0.6;">Save
                as</span>
              <div class="mt-3">
                <button (click)="toggleActive('home')" [ngClass]="{'active-button': activeButton === 'home'}">
                  Home
                </button>
                <button class="mx-3" (click)="toggleActive('other')"
                  [ngClass]="{'active-button': activeButton === 'other'}">
                  Other
                </button>
              </div>
              <div *ngIf="otherToggle" class="other-container-search" [ngClass]="{'focused': isInputFocused3}">
                <input (focus)="isInputFocused3 = true" (blur)="isInputFocused3 = false"
                  (input)="getOtherValue(otherInputs.value)" autofocus #otherInputs type="text"
                  placeholder="Eg. John's home, Mom's place, etc." name="" id="">
                <img (click)="clearInput(otherInputs)" *ngIf="valueExist" src="../../../assets/close-icon.png"
                  width="20" alt="">
              </div>
            </div>
            <button data-bs-dismiss="modal"
              (click)="submitAddress(homeDetail.value,landMarkDetail.value,updateAddressIndex)"
              [style.color]="homeVal ? 'white' : ''" [style.background-color]="homeVal ? 'rgb(110,66,229)' : ''"
              class="submit-btn">Save and proceed to slots </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- save location modal -->
<div class="modal fade slide-up-from-bottom mt-5 " id="locationSave" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div style="position: relative;margin-top: 180px;">
    <div class="modal-dialog mt-5">
      <div class="modal-content"
        style="background-color: rgb(255,255,255); height: 100%;border-radius: 20px;width: 510px;">
        <div type="button" data-bs-dismiss="modal"
          style="display: flex; align-items: center;justify-content: center; background-color: #fff; width: 32px; height: 32px; border-radius: 50%; position: absolute;cursor: pointer; top: -40px; right: 0px;z-index: 1000;">
          <img src="../../../assets/icons8-close-480.png" width="20">
        </div>
        <div class="modal-body">
          <div class="save-location-detail-container">
            <h3 style="font-size: 20px;line-height: 28px;font-weight: 600;">Saved address</h3>
            <div class="add-more-address" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <svg width="20" viewBox="0 0 24 24" fill="#6E42E5" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 13v7.25h2V13h7.25v-2H13V3.75h-2V11H3.75v2H11z" fill="#6E42E5"></path>
              </svg>
              <span
                style="margin-left: 10px; font-size: 14px;font-weight: 700;line-height: 20px;color: rgb(110,66,229);">Add
                another address</span>
            </div>
          </div>
          <div class="added-locations" *ngIf="addressLocally.length > 0">
            <div style="margin-top: 20px;" class="saved-locations"
              *ngFor="let address of addressLocally; let i = index">
              <div style="display: flex;align-items: center;">
                <input type="radio" id="selectedAddress" name="selectedAddress" [value]="address"
                  (change)="getAddressInputValue(address)">
                <div style="margin-left: 20px;"> <span style="font: 14px;font-weight: 700;line-height: 20px;"><span
                      style="font-size: 14px;font-weight: 700;">Home</span> -
                  </span><span style="font-size: 12px;font-weight: 400;line-height: 20px;">{{address.home}},
                    {{address.landMark}}</span>
                </div>
              </div>
              <div class="dropdown">
                <svg style="cursor: pointer;" (click)="toggleDropdown(i)" xmlns="http://www.w3.org/2000/svg" width="20"
                  height="100%" fill="#0F0F0F" viewBox="0 0 16 16">
                  <path fill="#0F0F0F" fill-rule="evenodd"
                    d="M8 5a1 1 0 110-2 1 1 0 010 2zM7 8a1 1 0 102 0 1 1 0 00-2 0zm0 4a1 1 0 102 0 1 1 0 00-2 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <div [id]="i" class="dropdown-content" [ngClass]="{'show-dropdown': isDropdownOpen[i]}">
                  <button (click)="updateAddress(i)" data-bs-toggle="modal" data-bs-target="#mapModal"
                    style="font-size: 14px;font-weight: 400;">Edit</button>
                  <button (click)="removeAddressSelected(i)" data-bs-toggle="modal" data-bs-target="#deleteAddress"
                    style="font-size: 14px;font-weight: 400;">Delete</button>
                </div>
              </div>

            </div>
          </div>
          <div class="proceed-btn">
            <button (click)="changeCurrentAddress()" data-bs-toggle="modal" data-bs-target="#updateAddress"
              [style.backgroundColor]="buttonBackgroundColor" [style.color]="buttonColor">Proceed</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--delete address modal-->

<div class="modal fade slide-up-from-bottom mt-5 " id="deleteAddress" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div style="position: relative;margin-top: 180px;">
    <div class="modal-dialog mt-5">
      <div class="modal-content"
        style="background-color: rgb(255,255,255); height: 180px;border-radius: 20px;width: 510px;">
        <div type="button" data-bs-dismiss="modal"
          style="display: flex; align-items: center;justify-content: center; background-color: #fff; width: 32px; height: 32px; border-radius: 50%; position: absolute;cursor: pointer; top: -40px; right: 0px;z-index: 1000;">
          <img src="../../../assets/icons8-close-480.png" width="20">
        </div>
        <div class="modal-body">
          <div class="delete-address-container">
            <div class="notify-section-content">
              <h3 style="font-size: 20px;font-weight: 600;line-height: 28px;">Delete Address</h3>
              <p style="font-size: 14px;font-weight: 400;line-height: 24px;">Are you sure you want to delete address?
              </p>
            </div>
            <div class="buttons-container">
              <button data-bs-dismiss="modal" class="delete-section-button">No, go back</button>
              <button (click)="deleteAddress()" data-bs-dismiss="modal"
                style="background-color: rgb(121, 79, 231);color: white;" class="delete-section-button">Yes,
                delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--update address modal-->

<div class="modal fade slide-up-from-bottom mt-5 " id="updateAddress" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div style="position: relative;margin-top: 180px;">
    <div class="modal-dialog mt-5">
      <div class="modal-content"
        style="background-color: rgb(255,255,255); height: 180px;border-radius: 20px;width: 510px;">
        <div type="button" data-bs-dismiss="modal"
          style="display: flex; align-items: center;justify-content: center; background-color: #fff; width: 32px; height: 32px; border-radius: 50%; position: absolute;cursor: pointer; top: -40px; right: 0px;z-index: 1000;">
          <img src="../../../assets/icons8-close-480.png" width="20">
        </div>
        <div class="modal-body">
          <div class="delete-address-container">
            <div class="notify-section-content">
              <h3 style="font-size: 20px;font-weight: 600;line-height: 28px;">Do you wish to update your location?</h3>
              <p style="font-size: 14px;font-weight: 400;line-height: 24px;">The location you selected is in mohali. Do
                you wish to update to it?
              </p>
            </div>
            <div class="buttons-container">
              <button (click)="back()" data-bs-dismiss="modal" class="delete-section-button">No, go back</button>
              <button (click)="finalSubmit()" data-bs-dismiss="modal"
                style="background-color: rgb(121, 79, 231);color: white;" class="delete-section-button">Yes,
                Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--couponsModal-->

<div class="modal fade slide-up-from-bottom mt-5 " id="couponsModal" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div style="position: relative;margin-top: 100px;">
    <div class="modal-dialog">
      <div class="modal-content"
        style="background-color: rgb(255,255,255); height: 500px;border-radius: 10px;width: 510px;padding: 20px;">
        <div type="button" data-bs-dismiss="modal"
          style="display: flex; align-items: center;justify-content: center; background-color: #fff; width: 32px; height: 32px; border-radius: 50%; position: absolute;cursor: pointer; top: -40px; right: 0px;z-index: 1000;">
          <img src="../../../assets/icons8-close-480.png" width="20">
        </div>
        <div class="modal-body">
          <h3 style="font-size: 20px;line-height: 28px;font-weight: 600;">Coupons & Offers</h3>
          <div class="input-container">
            <input #couponId (change)="getCouponId(couponId.value)" type="text" placeholder="Enter Coupon Code">
            <button [disabled]="idExist" data-bs-toggle="modal" data-bs-target="#viewCoupons"
              style="font-size: 14px;font-weight: 600;line-height: 20px;color: rgb(121, 79, 231);border: none;background-color: white;">Apply</button>
          </div>
          <div class="coupons-main-container">
            <div class="content-container">
              <div style="display: flex;align-items:flex-start ;">
                <img src="../../../assets/kotak.png" width="30" style="margin-top: 5px;" alt="">
                <div style="display: flex;flex-direction: column;margin-left: 10px;">
                  <span style="font-size: 14px;font-weight: 700;line-height: 20px;">15% off on kotak Credit card</span>
                  <span style="margin-top: 8px; font-size: 14px;font-weight: 400;line-height: 24px;">15% off up to INR
                    250</span>
                  <span
                    style="margin-top: 8px; font-size: 12px;font-weight: 600;line-height: 16px;color: rgb(161,114,23);">ADD
                    SERVICES 333 WORTH OR MORE</span>
                  <span data-bs-toggle="modal" data-bs-target="#termConditions"
                    style="cursor: pointer; margin-top: 8px; font-size: 14px;font-weight: 600;line-height: 20px;color: rgb(110,66,229);">View
                    T&C</span>
                </div>
              </div>
              <span style="font-size: 14px;font-weight: 600;line-height: 20px;color: rgb(176,176,176);">Apply</span>
            </div>
            <div class="content-container">
              <div style="display: flex;align-items:flex-start ;">
                <img src="../../../assets/paytm.png" width="30" style="margin-top: 5px;" alt="">
                <div style="display: flex;flex-direction: column;margin-left: 10px;">
                  <span style="font-size: 14px;font-weight: 700;line-height: 20px;">15% off on kotak Credit card</span>
                  <span style="margin-top: 8px; font-size: 14px;font-weight: 400;line-height: 24px;">15% off up to INR
                    250</span>
                  <span
                    style="margin-top: 8px; font-size: 12px;font-weight: 600;line-height: 16px;color: rgb(161,114,23);">ADD
                    SERVICES 333 WORTH OR MORE</span>
                  <span data-bs-toggle="modal" data-bs-target="#termConditions"
                    style="cursor: pointer; margin-top: 8px; font-size: 14px;font-weight: 600;line-height: 20px;color: rgb(110,66,229);">View
                    T&C</span>
                </div>
              </div>
              <span style="font-size: 14px;font-weight: 600;line-height: 20px;color: rgb(176,176,176);">Apply</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Term&ConditionModal-->

<div class="modal fade slide-up-from-bottom mt-5 " id="termConditions" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div style="position: relative;margin-top: 100px;">
    <div class="modal-dialog">
      <div class="modal-content"
        style="background-color: rgb(255,255,255); height: 100%;border-radius: 20px;width: 510px;padding: 20px;">
        <div type="button" data-bs-dismiss="modal"
          style="display: flex; align-items: center;justify-content: center; background-color: #fff; width: 32px; height: 32px; border-radius: 50%; position: absolute;cursor: pointer; top: -40px; right: 0px;z-index: 1000;">
          <img src="../../../assets/icons8-close-480.png" width="20">
        </div>
        <div class="modal-body">
          <div class="conditions-container">
            <h3 style="font-size: 20px;line-height: 28px;color: rgb(15,15,15);font-weight: 600;">Term And Conditions
            </h3>
            <ul>
              <li>15% off up to ₹250 on Kotak </li>
              <li>Offer is valid only on the eligible cards </li>
              <li>Minimun list price of INR 799 on Kotak Credits Cards</li>
              <li>Offer is applicable only on Tuesdays </li>
              <li>Offer is valid only once per user every month </li>

            </ul>
          </div>
          <div style="border-top: 1px solid rgb(227,227,227); padding: 10px;">
            <button data-bs-dismiss="modal"
              style="width: 100%;border: 1px solid rgb(121, 79, 231);background-color: rgb(121, 79, 231);padding: 15px;color: white;font-size: 14px;font-weight: 500;border-radius: 8px;">Okay!got
              it</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--viewCoupons-->
<div class="modal fade slide-up-from-bottom mt-5 " id="viewCoupons" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div style="position: relative;margin-top: 100px;">
    <div class="modal-dialog">
      <div class="modal-content"
        style="background-color: rgb(255,255,255); height: 100%;border-radius: 20px;width: 510px;">
        <div type="button" data-bs-dismiss="modal"
          style="display: flex; align-items: center;justify-content: center; background-color: #fff; width: 32px; height: 32px; border-radius: 50%; position: absolute;cursor: pointer; top: -40px; right: 0px;z-index: 1000;">
          <img src="../../../assets/icons8-close-480.png" width="20">
        </div>
        <div class="modal-body">
          <div class="about-coupons-detail-container">
            <svg width="50" height="100%" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M21.55 3.898a4 4 0 014.9 0l2.124 1.646a4 4 0 002.574.836l2.686-.083a4 4 0 013.964 2.88l.75 2.58a4 4 0 001.591 2.19l2.222 1.511a4 4 0 011.514 4.66l-.909 2.53a4 4 0 000 2.705l.91 2.529a4 4 0 01-1.515 4.66l-2.222 1.511a4 4 0 00-1.59 2.19l-.751 2.58a4 4 0 01-3.964 2.88l-2.686-.083a4 4 0 00-2.574.836l-2.124 1.646a4 4 0 01-4.9 0l-2.124-1.646a4 4 0 00-2.573-.836l-2.687.083a4 4 0 01-3.963-2.88l-.752-2.58a4 4 0 00-1.59-2.19l-2.222-1.511a4 4 0 01-1.514-4.66l.909-2.53a4 4 0 000-2.705l-.909-2.529a4 4 0 011.514-4.66l2.222-1.512a4 4 0 001.59-2.188l.752-2.58a4 4 0 013.963-2.88l2.687.082a4 4 0 002.573-.836l2.124-1.646z"
                fill="#AFAFAF"></path>
              <circle cx="17" cy="17" r="3" fill="#fff"></circle>
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M35.06 16.06L16.677 34.447l-2.121-2.122L32.94 13.94l2.12 2.12z" fill="#fff"></path>
              <circle cx="36" cy="36" r="10" fill="#DC2804"></circle>
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M36 34.586l-3.293-3.293-1.414 1.414L34.586 36l-3.293 3.293 1.414 1.414L36 37.415l3.293 3.292 1.414-1.414L37.414 36l3.293-3.292-1.414-1.414L36 34.586z"
                fill="#fff"></path>
            </svg>
            <h3 style="margin-top: 20px;margin-bottom: 30px; font-size: 20px;line-height: 28px;font-weight: 600;">
              - This coupon doesn't exist</h3>
          </div>
          <div style="border-top: 1px solid rgb(227,227,227);">
            <button data-bs-dismiss="modal"
              style="width: 100%;border: 1px solid rgb(121, 79, 231);background-color: rgb(121, 79, 231);padding: 15px;color: white;font-size: 14px;font-weight: 500;border-radius: 8px;">Okay!got
              it</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Slots-section-modal-->

<div class="modal fade slide-up-from-bottom mt-5 " id="slotSection" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div style="position: relative;margin-top: 40px; margin-bottom: 50px;">
    <div class="modal-dialog">
      <div class="modal-content"
        style="background-color: rgb(255,255,255); height: 100%;border-radius: 20px;width: 510px;">
        <div type="button" data-bs-dismiss="modal"
          style="display: flex; align-items: center;justify-content: center; background-color: #fff; width: 32px; height: 32px; border-radius: 50%; position: absolute;cursor: pointer; top: -40px; right: 0px;z-index: 1000;">
          <img src="../../../assets/icons8-close-480.png" width="20">
        </div>
        <div class="modal-body">
          <div class="slot-section-container">
            <div class="header-section" data-bs-toggle="modal" data-bs-target="#locationSave">
              <div class="left-side-container" *ngFor="let data of currentLocation">
                <svg width="18" height="100%" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M9.898 17.865l-.002-.001-.004-.003-.015-.011a5.939 5.939 0 01-.243-.18 18.886 18.886 0 01-2.66-2.507C5.534 13.509 4 11.105 4 8.326a6.326 6.326 0 1112.651 0c0 2.78-1.535 5.183-2.973 6.837a18.878 18.878 0 01-2.66 2.506 10.317 10.317 0 01-.244.181l-.015.01-.004.004h-.002s0 .002-.427-.608l.426.61a.745.745 0 01-.854 0zm.428-.61l-.428.61.428-.61zm0-7.255a2.233 2.233 0 100-4.465 2.233 2.233 0 000 4.465z"
                    fill="#6E42E5"></path>
                </svg>
                <p style="margin-bottom: 0px;">{{data.home}}</p>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="100%" fill="none" viewBox="0 0 16 16">
                <path fill="#0F0F0F" fill-rule="evenodd"
                  d="M9.94 8L5.47 3.53l1.06-1.06 5 5a.75.75 0 010 1.06l-5 5-1.06-1.06L9.94 8z" clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div class="section-container">
              <div class="text-content">
                <h3>When should the professional arrive?</h3>
                <p>Your service will take approx. 1 hr</p>
              </div>
              <div class="slots-options-list mt-3">
                <div class="left-content">
                  <img src="../../../assets/slot-express-img.png" width="35" alt="">
                  <div style="margin-top: 10px;">
                    <p style="font-size: 12px;font-weight: 400;line-height: 16px;">When should the professional arrive?
                    </p>
                    <p style="font-size: 14px;line-height: 20px;margin-top: -10px; font-weight: 600;">Your service will
                      take approx. 1 hr</p>
                  </div>
                </div>
                <input (change)="getSelectedSlot(0)" style="cursor: pointer;" type="radio" name="slot" id="">
              </div>
              <div [ngClass]="{'active':serviceGetLater}" class="get-service-container mt-3"
                style="border: 1px solid rgb(227,227,227); border-radius:8px;">
                <div class="slots-options-list-calender">
                  <div class="left-content">
                    <img src="../../../assets/slot-get-service-later.png" width="35" alt="">
                    <div style="margin-top: 10px;">
                      <p style="font-size: 12px;font-weight: 400;line-height: 16px;">Get service later</p>
                      <p style="font-size: 14px;line-height: 20px;margin-top: -10px; font-weight: 600;">Service at the
                        earliest available time slot</p>
                    </div>
                  </div>
                  <input (change)="getSelectedSlot(1)" style="cursor: pointer;" type="radio" name="slot" id="">
                </div>
                <div *ngIf="serviceGetLater" class="calender-container">
                  <div style="display: flex;">
                    <div class="date-container" *ngFor="let date of dates; let i = index">
                      <div (click)="selectedDateFxn(i,date)" class="date-container-child"
                        [ngClass]="{'active':dateSelected[i]}">
                        <span style="font-size: 12px;line-height: 16px;font-weight: 400;"> {{ getDayName(date) }}</span>
                        <span style="font-size: 14px;line-height: 20px;font-weight: 700;margin-top: 5px;">{{ date |
                          date:'d' }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="timing-section">
                    <h3 style="font-size: 20px;font-weight: 600;line-height: 28px;">Select start time of service</h3>
                    <div class="time-content">
                      <div *ngFor="let slot of timeSlots;let i = index">
                        <button (click)="selectedTimeFxn(i,slot)" [ngClass]="{'active':isTimeSelected[i]}"
                          class="BTN">{{slot}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="notice-container">
                <svg width="20" height="100%" viewBox="0 0 24 24" fill="#545454" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15 16h4v-2h-4v2zM13 16h-2v-2h2v2z" fill="#545454"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M2.77 4C1.781 4 1 4.806 1 5.778v12.444C1 19.194 1.782 20 2.77 20h18.46c.988 0 1.77-.806 1.77-1.778V5.778C23 4.806 22.218 4 21.23 4H2.77zM3 8V6h18v2H3zm0 2v8h18v-8H3z"
                    fill="#545454"></path>
                </svg>
                <p>Free cancellation till 3 hrs before the booked slot, post that ₹50 chargeable</p>
              </div>
              <button (click)="submitSlot()" [ngClass]="{'active':slotSelected}" class="slot-proceed-btn mt-5"
                data-bs-dismiss="modal">Proceed
                to checkout
                it</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--payment-section-modal-add-card-->
<div class="modal fade slide-up-from-bottom mt-5" id="modal0" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog mt-5"
    style="border-radius: 15px;border-bottom-left-radius: 10px;max-width: 40%; width: auto;">
    <div class="modal-content"
      style="background-color: rgb(255,255,255); border-radius: 20px; width: auto;height: 350px;margin-top: 150px;"
      id="map-modal">
      <div type="button" data-bs-dismiss="modal" aria-label="Close"
        style="display: flex; align-items: center;justify-content: center; background-color: #fff; width: 32px; height: 32px; border-radius: 50%; position: absolute; z-index: 10; top: -40px; right: 0;">
        <img src="../../../assets/icons8-close-480.png" width="20">
      </div>
      <div class="modal-body">
        <div class="content-container">
          <span style="font-size: 16px;line-height: 24px;font-weight: 700;">Add a new card</span>
          <div class="card-number-container" [ngClass]="{'active':cardFieldExist,'errorOccur':numberNotExist}">
            <input maxlength="16" #cardNumber (input)="getCardNumber(cardNumber.value)" (focus)="cardFieldExist = true"
              (blur)="cardFieldExist = false" type="number" placeholder="Card number" name="" id="">
            <img src="../../../assets/add-card-image.png" width="20" alt="">
          </div>
          <span *ngIf="numberNotExist"
            style="font-size: 12px;line-height: 16px;font-weight: 400;color: rgb(179, 35, 6);">Please enter a valid
            card</span>
          <div style="display: flex;">
            <div>
              <div class="card-number-expiry" [ngClass]="{'active':expiryExist,'errorOccur': expiryNotExist}">
                <input (input)="getCardExpiry(cardExpiry.value)" #cardExpiry maxlength="5" [(ngModel)]="formattedDate"
                  (ngModelChange)="formatInput($event)" (focus)="expiryExist = true" (blur)="expiryExist = false"
                  type="text" placeholder="MM/YY" name="" id="">
              </div>
              <span *ngIf="expiryNotExist"
                style="color: rgb(179, 35, 6);font-size: 12px;font-weight: 400;line-height: 16px;">Invalid date.</span>
            </div>
            <div>
              <div class="card-number-cvv" [ngClass]="{'active':cvvExist, 'errorOccur': cvvIncorrect}">
                <input #cardCvv (input)="getCvvCode(cardCvv.value)" (focus)="cvvExist = true" (blur)="cvvExist = false"
                  type="number" placeholder="CVV" name="" id="">
              </div>
              <span *ngIf="cvvIncorrect"
                style="margin-left: 30px; color: rgb(179, 35, 6);font-size: 12px;font-weight: 400;line-height: 16px;">Incorrect
                CVV.</span>
            </div>
          </div>
          <div class="save-cred-permission-container">
            <input type="checkbox" name="security-permission" id="security-permission">
            <label for="security-permission">
              <span style="font-size: 12px;font-weight: 400;line-height: 16px;margin-left: 10px;">Save the card details
                securely for future use except CVV</span>
            </label>
          </div>
          <div class="footer-section">
            <span>₹{{totalAmount}}</span>
            <button (click)="submitCardCredential(cardExpiry.value)" class="addCard-btn"
              [ngClass]="{'active': credentialExist}">Save and proceed</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--UPI-ID-MODAL-->
<div class="modal fade slide-up-from-bottom mt-5" id="modal2" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog mt-5" style="border-radius: 15px;border-bottom-left-radius: 10px;max-width: 40%;">
    <div class="modal-content"
      style="background-color: rgb(255,255,255); border-radius: 20px; width: auto;height: 280px;margin-top: 150px;"
      id="map-modal">
      <div type="button" data-bs-dismiss="modal" aria-label="Close"
        style="display: flex; align-items: center;justify-content: center; background-color: #fff; width: 32px; height: 32px; border-radius: 50%; position: absolute; z-index: 10; top: -40px; right: 0;">
        <img src="../../../assets/icons8-close-480.png" width="20">
      </div>
      <div class="modal-body">
        <div class="content-container">
          <span style="font-size: 16px;line-height: 24px;font-weight: 700;">Pay via UPI</span>
          <div class="card-number-container" [ngClass]="{'active':cardFieldExist,'errorOccur':wrongUpiIdError}">
            <input #payViaUpi (change)="getUpiIdVal(payViaUpi.value)" (focus)="cardFieldExist = true"
              (blur)="cardFieldExist = false" type="number" placeholder="Your UPI ID" name="" id="">
          </div>
          <span style="color: rgb(179, 35, 6);font-weight: 400;line-height: 16px;font-size: 12px;"
            *ngIf="wrongUpiIdError">Invalid UPI ID. Please try again.</span>
          <span *ngIf="!wrongUpiIdError" style="font-weight: 400;line-height: 16px;font-size: 12px;">Eg.
            12345678@upi</span>
          <div class="save-cred-permission-container">
            <input maxlength="50" type="checkbox" name="security-permission" id="securityPermission">
            <label for="securityPermission">
              <span style="font-size: 12px;font-weight: 400;line-height: 16px;margin-left: 10px;">Save my UPI ID
                securely</span>
            </label>
          </div>
          <div class="footer-section">
            <span>₹{{totalAmount}}</span>
            <button (click)="submitUpiId(payViaUpi.value)">Proceed to pay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Open this modal on click on upi payment section in payment section container-->


<!--Paytm OTP verfication modal-->

<div class="modal fade slide-up-from-bottom mt-5" id="modal1" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog mt-5"
    style="border-radius: 15px;border-bottom-left-radius: 10px;max-width: 40%; width: auto;">
    <div class="modal-content"
      style="background-color: rgb(255,255,255); border-radius: 20px; width: auto;height: 350px;margin-top: 150px;"
      id="map-modal">
      <div type="button" data-bs-dismiss="modal" aria-label="Close"
        style="display: flex; align-items: center;justify-content: center; background-color: #fff; width: 32px; height: 32px; border-radius: 50%; position: absolute; z-index: 10; top: -40px; right: 0;">
        <img src="../../../assets/icons8-close-480.png" width="20">
      </div>
      <div class="modal-body">
        <div class="opt-main-container">
          <span><img src="../../../assets/paytm.png" width="35" alt=""></span>
          <h6 style="margin-top: 40px; font-size: 16px; line-height: 24px; font-weight: 700;">Link Paytm</h6>
          <span style="margin-top: 2px; line-height: 24px;font-size: 14px;font-weight: 400;">Please enter the 6-digit
            OTP sent by Paytm on +919882748459</span>
          <div class="opt-input-field-container">
            <input maxlength="1" #input1 [class.active]="inputActive === 0" (input)="onInput(input1, input2, null)"
              [class.otp-input]="!otpNumberExist" [class.otp-input-validation-error]="otpNumberExist"
              inputmode="numeric" (focus)="onFocus(0,$event, input1)" (blur)="inputActive = null">
            <input style="margin-left: 8px;" maxlength="1" #input2 [class.active]="inputActive === 1"
              (input)="onInput(input2, input3, input1)" [class.otp-input]="!otpNumberExist"
              [class.otp-input-validation-error]="otpNumberExist" inputmode="numeric"
              (focus)="onFocus(1,$event, input2)" (blur)="inputActive = null">
            <input style="margin-left: 8px;" maxlength="1" #input3 [class.active]="inputActive === 2"
              (input)="onInput(input3, input4, input2)" [class.otp-input]="!otpNumberExist"
              [class.otp-input-validation-error]="otpNumberExist" inputmode="numeric"
              (focus)="onFocus(2,$event, input3)" (blur)="inputActive = null">

            <input [(ngModel)]="otp4" style="margin-left: 8px;" maxlength="1" #input4 [class.active]="inputActive === 3"
              (input)="onInput(input4, input5, input3)" [class.otp-input]="!otpNumberExist"
              [class.otp-input-validation-error]="otpNumberExist" inputmode="numeric"
              (focus)="onFocus(3,$event, input4)" (blur)="inputActive = null">

            <input [(ngModel)]="otp5" style="margin-left: 8px;" maxlength="1" #input5 [class.active]="inputActive === 4"
              (input)="onInput(input5, input6, input4)" [class.otp-input]="!otpNumberExist"
              [class.otp-input-validation-error]="otpNumberExist" inputmode="numeric"
              (focus)="onFocus(4,$event, input5)" (blur)="inputActive = null">

            <input [(ngModel)]="otp6" style="margin-left: 8px;" maxlength="1" #input6 [class.active]="inputActive === 5"
              (input)="onInput(input5, null, input4)" [class.otp-input]="!otpNumberExist"
              [class.otp-input-validation-error]="otpNumberExist" inputmode="numeric"
              (focus)="onFocus(5,$event, input6)" (blur)="inputActive = null">
          </div>
          <div class="validation-error-container" *ngIf="otpNumberExist">
            <svg width="15" xmlns="http://www.w3.org/2000/svg" height="100%" fill="#DC2804" viewBox="0 0 16 16">
              <path fill="#DC2804" fill-rule="evenodd"
                d="M8 2.75a5.25 5.25 0 100 10.5 5.25 5.25 0 000-10.5zM1.25 8a6.75 6.75 0 1113.5 0 6.75 6.75 0 01-13.5 0zm6 1V5h1.5v4h-1.5zm1.5 1.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span style="color: rgb(230,90,96);font-weight: 400;font-size: 12px;line-height: 16px;">You've
              entered Incorrect OTP.Please try again</span>
          </div>
          <div class="timer-container" style="margin-top: 15px;">
            <span (click)="resendCode()" *ngIf="timeUp"
              style="cursor: pointer; font-size: 14px;color: rgb(121, 79, 231);">Resend
              code</span>
            <span *ngIf="!timeUp" style="font-size: 14px; font-weight: 600;line-height: 20px;">00:{{seconds}}</span>
          </div>
          <div class="button-container">
            <span style="font-weight: 700;line-height: 20px;font-size: 14px;">₹{{totalAmount}}</span>
            <button [attr.data-bs-dismiss]="shouldDismiss ? 'modal' : null"
              (click)="signUp(input1.value,input2.value,input3.value,input4.value,input5.value,input6.value)"
              [disabled]="!otp" class="proceed-btn"
              [style.background-color]="otp ? 'rgb(110,66,229)' : ''">Verify</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Netbanking-modal-->

<div class="modal fade slide-up-from-bottom mt-5" id="modal3" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog mt-5"
    style="border-radius: 15px;border-bottom-left-radius: 10px;max-width: 40%; width: auto;">
    <div class="modal-content"
      style=" background-color: rgb(255,255,255); border-radius: 20px; width: auto;height: 450px;margin-top: 100px;"
      id="map-modal">
      <div type="button" data-bs-dismiss="modal" aria-label="Close"
        style="display: flex; align-items: center;justify-content: center; background-color: #fff; width: 32px; height: 32px; border-radius: 50%; position: absolute; z-index: 10; top: -40px; right: 0;">
        <img src="../../../assets/icons8-close-480.png" width="20">
      </div>
      <div class="modal-body">
        <div class="content-container">
          <span style="font-size: 16px;line-height: 24px;font-weight: 700;">Select Bank</span>
          <div class="card-number-container" [ngClass]="{'active':cardFieldExist,'errorOccur':numberNotExist}">
            <input (focus)="cardFieldExist = true" (blur)="cardFieldExist = false" type="text"
              placeholder="Search by bank name" name="" id="">
          </div>
          <div class="bank-list-main-container">
            <div class="container" *ngFor="let detail of bankInfo">
              <div class="bank-list-left-content" style="display: flex; align-items: center;">
                <div style="border: 1px solid rgb(227,227,227);border-radius: 8px; padding: 3px;">
                  <img [src]="detail.logo" width="30" alt="">
                </div>
                <span
                  style="line-height: 24px;font-size: 14px;font-weight: 400;margin-left: 20px;">{{detail.bankName}}</span>
              </div>
              <img src="../../../assets/arrow-icon.png" width="19" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Login OTP verfication Modal-->
<div class="modal fade slide-up-from-bottom mt-5 " id="otpModal" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div style="position: relative;margin-top: 100px;">
    <div class="modal-dialog mt-5">
      <div class="modal-content"
        style="background-color: rgb(255,255,255); height: auto;border-radius: 20px;width: 510px;">
        <div type="button" data-bs-dismiss="modal"
          style="display: flex; align-items: center;justify-content: center; background-color: #fff; width: 32px; height: 32px; border-radius: 50%; position: absolute;cursor: pointer; top: -40px; right: 0px;">
          <img src="../../../assets/icons8-close-480.png" width="20">
        </div>
        <div class="modal-body">
          <div class="opt-main-container">
            <span
              style="cursor: pointer; font-size: 14px;font-weight: 600;text-decoration: underline;line-height: 20px;">Edit
              number</span>
            <h3 style="margin-top: 20px; font-size: 20px; line-height: 28px; font-weight: 600;">
              Verification
              code</h3>
            <span style="margin-top: 2px; line-height: 24px;font-size: 14px;font-weight: 400;">We have
              sent
              you a 4 digit code on +9187654321</span>
            <div class="opt-input-field-container">
              <input maxlength="1" #input1 [class.active]="inputActive === 0" (input)="onInputNew(input1, input2, null)"
                [class.otp-input]="!otpNumberExist" [class.otp-input-validation-error]="otpNumberExist"
                inputmode="numeric" (focus)="onFocus(0,$event, input1)" (blur)="inputActive = null">
              <input style="margin-left: 8px;" maxlength="1" #input2 [class.active]="inputActive === 1"
                (input)="onInput(input2, input3, input1)" [class.otp-input]="!otpNumberExist"
                [class.otp-input-validation-error]="otpNumberExist" inputmode="numeric"
                (focus)="onFocus(1,$event, input2)" (blur)="inputActive = null">
              <input style="margin-left: 8px;" maxlength="1" #input3 [class.active]="inputActive === 2"
                (input)="onInput(input3, input4, input2)" [class.otp-input]="!otpNumberExist"
                [class.otp-input-validation-error]="otpNumberExist" inputmode="numeric"
                (focus)="onFocus(2,$event, input3)" (blur)="inputActive = null">

              <input [(ngModel)]="otp4" style="margin-left: 8px;" maxlength="1" #input4
                [class.active]="inputActive === 3" (input)="onInput(input4, null, input3)"
                [class.otp-input]="!otpNumberExist" [class.otp-input-validation-error]="otpNumberExist"
                inputmode="numeric" (focus)="onFocus(3,$event, input4)" (blur)="inputActive = null">
            </div>
            <div class="validation-error-container" *ngIf="otpNumberExist">
              <svg width="15" xmlns="http://www.w3.org/2000/svg" height="100%" fill="#DC2804" viewBox="0 0 16 16">
                <path fill="#DC2804" fill-rule="evenodd"
                  d="M8 2.75a5.25 5.25 0 100 10.5 5.25 5.25 0 000-10.5zM1.25 8a6.75 6.75 0 1113.5 0 6.75 6.75 0 01-13.5 0zm6 1V5h1.5v4h-1.5zm1.5 1.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
                  clip-rule="evenodd"></path>
              </svg>
              <span style="color: rgb(230,90,96);font-weight: 400;font-size: 12px;line-height: 16px;">You've
                entered Incorrect OTP.Please try again</span>
            </div>
            <div class="timer-container" style="margin-top: 15px;">
              <span (click)="resendCode()" *ngIf="timeUp"
                style="cursor: pointer; font-size: 14px;color: rgb(121, 79, 231);">Resend
                code</span>
              <span *ngIf="!timeUp" style="font-size: 14px; font-weight: 600;line-height: 20px;">00:{{seconds}}</span>
            </div>
            <div class="button-container" [attr.data-bs-dismiss]="shouldDismiss ? 'modal' : null">
              <button (click)="signUp2(input1.value,input2.value,input3.value,input4.value)" [disabled]="!otp"
                class="proceed-btn" [style.background-color]="otp ? 'rgb(110,66,229)' : ''">Sign
                up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>