<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Test
</button>

<div class="modal fade slide-up" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div type="button" data-bs-dismiss="modal" aria-label="Close"
    style="display: flex; align-items: center;justify-content: center; background-color: #fff; width: 32px; height: 32px; border-radius: 50%; position: absolute; z-index: 10; top: 10px; left: 895px;">
    <img src="../../../assets/icons8-close-480.png" width="20">
  </div>
  <div class="modal-dialog mt-5" style="border-radius: 10px;border-bottom-left-radius: 10px;">
    <div class="modal-content">
      <div class="modal-body" [style.height]="modalHeight"
        [style.transition]="modalTransition">
        <img style="width: 100%; height: 100%;" src="../../../assets/modal-image.webp" alt="">
      </div>
    </div>
  </div>
</div>