<section style="margin: 40px; opacity: 1;">
    <div class="tutorial-section"
        style="flex-wrap: wrap; margin: auto; width: 90%; display: flex; align-items: center; justify-content: space-around;">
        <div class="tutorial-section-content">
            <h1 class="skelton-container"
                style="width: 400px; padding: 10px; height: 10px; background-color: rgb(237,237,237);"></h1>
            <h1 class="skelton-container"
                style="width: 400px; padding: 10px;margin-top: 10px; height: 10px; background-color: rgb(237,237,237);">
            </h1>
            <h1 class="skelton-container"
                style="width: 400px; padding: 10px;margin-top: 10px; height: 10px; background-color: rgb(237,237,237);">
            </h1>
            <div class="ratings-section">
            </div>
        </div>
        <div class="skelton-container" style="width: 80px;
        height: 80px; border-radius: 50%;"></div>
        <div class="skelton-container"
            style="margin-top: 10px; width: 400px; height: 200px; background-color: rgb(237,237,237);">

        </div>
    </div>
    <div class="services-list" style="margin-top: 50px;">
        <div class="skelton-container"
            style="height: 5px; background-color: rgb(237,237,237); width: 90%; margin: auto;"></div>
        <div class="item-container"
            style="flex-wrap: wrap; display: flex; align-items: center; justify-content: space-around; margin:auto; background-color: white; width: 90%; height: 50px;">
            <div class="skelton-container"
                style="margin-top: 20px; width: 40px; height: 40px; background-color: rgb(237,237,237); border: 1px solid rgb(237,237,237); border-radius: 10px;">
            </div>
            <div class="skelton-container"
                style="margin-top: 20px; width: 40px; height: 40px; background-color: rgb(237,237,237); border: 1px solid rgb(237,237,237); border-radius: 10px;">
            </div>
            <div class="skelton-container"
                style="margin-top: 20px; width: 40px; height: 40px; background-color: rgb(237,237,237); border: 1px solid rgb(237,237,237); border-radius: 10px;">
            </div>
            <div class="skelton-container"
                style="margin-top: 20px; width: 40px; height: 40px; background-color: rgb(237,237,237); border: 1px solid rgb(237,237,237); border-radius: 10px;">
            </div>
            <div class="skelton-container"
                style="margin-top: 20px; width: 40px; height: 40px; background-color: rgb(237,237,237); border: 1px solid rgb(237,237,237); border-radius: 10px;">
            </div>
        </div>
        <div style="margin-top: 40px;">
            <div class="skelton-container"
                style="height: 5px; background-color: rgb(237,237,237); width: 90%; margin: auto;"></div>
        </div>
    </div>
    <div class="parent-container" style="display: flex; align-items: center; justify-content: space-around;">
        <div style=" display: flex; align-items: center; justify-content: space-between;">
            <div class="main-container">
                <div>
                    <div class="service-detail-list-child-container" style="width: 90%; margin: auto;">
                        <div class="skelton-container"
                            style="margin-top: 8px; width: 400px; height: 10px; background-color: rgb(227,227,227);">
                        </div>
                        <div class="skelton-container"
                            style="margin-top: 8px; width: 400px; height: 10px; background-color: rgb(227,227,227);">
                        </div>
                        <div class="skelton-container"
                            style="margin-top: 8px; width: 400px; height: 10px; background-color: rgb(227,227,227);">
                        </div>
                        <div class="skelton-container"
                            style="margin-top: 8px; width: 400px; height: 10px; background-color: rgb(227,227,227);">
                        </div>
                        <div class="skelton-container"
                            style="margin-top: 8px; width: 400px; height: 10px; background-color: rgb(227,227,227);">
                        </div>
                        <div class="skelton-container"
                            style="margin-top: 8px; width: 400px; height: 10px; background-color: rgb(227,227,227);">
                        </div>
                        <div class="skelton-container"
                            style="margin-top: 8px; width: 400px; height: 10px; background-color: rgb(227,227,227);">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side-container"
            style="margin-top: 30px ; display: flex; align-items: center; justify-content: center; margin-left: 50px; flex-direction: column;">
            <div class="skelton-container"
                style="display: flex; align-items: center; height: 30px; background-color: rgb(227,227,227); flex-direction: column; width: 250px; border: 1px solid rgb(227,227,227); padding: 5px; border-radius: 5px; margin-top: 10px;">
            </div>
            <div class="skelton-container"
                style="display: flex; align-items: flex-start; height: 30px; background-color: rgb(227,227,227); flex-direction: column; width: 250px; border: 1px solid rgb(227,227,227); padding: 5px; border-radius: 5px; margin-top: 10px;">
            </div>
            <div class="skelton-container"
                style="display: flex; align-items: flex-start; height: 30px; background-color: rgb(227,227,227); flex-direction: column; width: 250px; border: 1px solid rgb(227,227,227); padding: 5px; border-radius: 5px; margin-top: 10px;">
            </div>
            <div class="skelton-container"
                style="display: flex; align-items: flex-start; height: 30px; background-color: rgb(227,227,227); flex-direction: column; width: 250px; border: 1px solid rgb(227,227,227); padding: 5px; border-radius: 5px; margin-top: 10px;">
            </div>
        </div>
    </div>
</section>