<div class="parent-container" *ngIf="!navigateToService">
    <div class="sidebar" [ngClass]="{'open': sidebarVisible}" [class]="animationName">
        <div class="main-container-sidebar">
            <div class="sidebar-header">
                <img *ngIf="!loginPage" style="cursor: pointer; font-size: 16px; margin-left: 16px;"
                    (click)="closeToggleSidebar()" width="15" src="../../../assets/arrow.png" alt="">
                <img *ngIf="loginPage" style="cursor: pointer; font-size: 16px; margin-left: 16px;"
                    (click)="closeToggleSidebar()" width="15" src="../../../assets/icons8-close-480.png" alt="">
                <span style="font-size: 16px; margin-left: 16px;">{{sidebarHeading}}</span>
            </div>
            <div style="margin-top: 2px;" class="sidebar-content-main-container" *ngIf="!loginPage">
                <div class="sidebar-container" *ngFor="let item of sidebarContent" (click)="navigateTo('Urban-Clap')">
                    <div class="section-left-content">
                        <img width="100" [src]="item.img" alt="">
                    </div>
                    <div class="section-right-content">
                        <span>{{item.title}}</span>
                        <img style="cursor: pointer;margin-right: 15px;" width="20" src="../../../assets/arrow-icon.png"
                            alt="">
                    </div>
                </div>
            </div>

            <div class="login-main-container" *ngIf="loginPage">
                <div class="input-main-container">
                    <div [class]="loginContainer">
                        <div class="phone-input-section" style="display: flex; align-items: center;">
                            <img width="25" style="margin:0px 8px 0px 8px;" src="../../../assets/indian-flag.png"
                                alt="">
                            <select class="country-code" style="margin-right: 8px;">
                                <option *ngFor="let code of countryCodes">{{ code }}</option>
                            </select>
                        </div>
                        <div class="phone-input-section">
                            <input #phoneValue (input)="phoneNumber(phoneValue.value)" class="phone-input" type="number"
                                placeholder="Your phone number">
                        </div>
                    </div>
                    <span [class]="errorClass" *ngIf="invalidNumber">Invalid number</span>
                </div>
                <button class="submit-button">Continue</button>
            </div>
        </div>
    </div>
</div>
<app-skelton *ngIf="navigateToService"></app-skelton>