<div class="main-container">
    <div class="frequent-card-main-container">
        <img width="100" src="../../../assets/frequent-card-2.webp" alt="">
        <span style="margin-left: 5px; font-size: 0.7rem;" class="title">Head massage</span>
        <span style="margin-left: 5px; font-size: 0.6rem;">₹400</span>
        <button
            style="margin: 5px; padding: 3px; border-radius: 5px; width: 60px; border: 1px solid rgb(197, 196, 196); color:rgb(121,79,231); background-color: white;">Add</button>
    </div>
    <div class="frequent-card-main-container">
        <img width="100" src="../../../assets/frequent-card-2.webp" alt="">
        <span style="margin-left: 5px; font-size: 0.7rem;" class="title">Head massage</span>
        <span style="margin-left: 5px; font-size: 0.6rem;">₹400</span>
        <button
            style="margin: 5px; padding: 3px; border-radius: 5px; width: 60px; border: 1px solid rgb(197, 196, 196); color:rgb(121,79,231); background-color: white;">Add</button>
    </div>
    <div class="frequent-card-main-container">
        <img width="100" src="../../../assets/frequent-card-2.webp" alt="">
        <span style="margin-left: 5px; font-size: 0.7rem;" class="title">Head massage</span>
        <span style="margin-left: 5px; font-size: 0.6rem;">₹400</span>
        <button
            style="margin: 5px; padding: 3px; border-radius: 5px; width: 60px; border: 1px solid rgb(197, 196, 196); color:rgb(121,79,231); background-color: white;">Add</button>
    </div>
</div>