.toast {
  width: 200px;
  position: fixed;
  text-align: center;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(171, 193, 175);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideInFromTop {
  from {
    transform: translateX(-50%) translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

.toast.show {
  animation-name: slideInFromTop;
}
