<header class="header-main-container">
    <div class="navbar_container container" style="display: flex;align-items: center;justify-content: space-between;">
        <div class="app-logo">
            <img src="../../../assets/app-logo-dark.webp" alt="">
        </div>
        <div class="header-content-list">
            <ul class="navbar-list">
                <li class="navbar-list-item registration" (click)="openInNewTab('/professional-page')">Register As A
                    Professional</li>

                <li *ngIf="userCredExist" class="navbar-list-item help" (click)="navigateToBooking()">My
                    Bookings</li>
                <li class="navbar-list-item help" (click)="navigateToHelp()">Help</li>
                <li class="navbar-list-item login" (click)="toggleSidebar(loginContent)" *ngIf="!userCredExist">Login /
                    Sign up
                </li>
                <li (click)="logOut()" class="navbar-list-item login" *ngIf="userCredExist">Logout - user
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="abount-parent-container">
    <div class="about-header-section">
        <div class="container-fluid text-center" id="header-container">
            <span style="font-size: 28px;line-height: 36px;color: #424242;font-weight: 600;">About Us</span>
        </div>
    </div>

    <div class="who-we-are-container container mt-4">
        <span style="font-size: 26px;line-height: 39px;color: #222;font-weight: 700;">Who we are</span>
        <p class="mt-3"
            style="text-align: left; font-size: 18px;font-weight: 300;line-height: 31px;color: #555;font-style: normal;">
            Urban Company is a technology platform offering a variety of services at home. Customers use our platform to
            book services such as beauty treatments, haircuts, massage therapy, cleaning, plumbing, carpentry, appliance
            repair, painting etc. These services are delivered in the comfort of their home and at a time of their
            choosing. We promise our customers a high quality, standardised and reliable service experience. To fulfill
            this promise, we work closely with our hand-picked service partners, enabling them with technology,
            training, products, tools, financing, insurance and brand, helping them succeed and deliver on this promise.
        </p>

        <div class="information-content-container">
            <div *ngFor="let item of informationData">
                <span
                    style="font-weight: 700;font-size: 28px;text-align: center;direction: ltr;color: #555;">{{item.counts}}</span>
                <p
                    style="margin-top: -5px; font-size: 18px;font-style: normal;font-weight: 400;line-height: 31px;color: #555;">
                    {{item.title}}</p>
            </div>
        </div>

        <div style="margin-top: 60px;"> <span
                style="font-size: 26px;line-height: 39px;color: #222;font-weight: 700;">How We do it</span>
            <p class="mt-3"
                style="text-align: left; font-size: 18px;font-weight: 300;line-height: 31px;color: #555;font-style: normal;">
                Urban Company provides a platform that allows skilled and experienced professionals to connect with
                users looking for specific services. Once on the platform, our match-making algorithm identifies
                professionals who are closest to the users’ requirements and available at the requested time and date.
            </p>
        </div>

        <div class="management-section-container">
            <app-detail-card [founderData]="founderDetail"></app-detail-card>
            <div style="margin-top: 50px;">
                <span style="font-size: 26px;line-height: 39px;color: #222;font-weight: 700;">Our Investors</span>
                <div class="box-grid">
                    <div class="box" *ngFor="let box of boxes">
                        <img [src]="box" alt="">
                    </div>
                </div>
                <div class="investors-deatil-container">
                    <div class="img-grid">
                        <div class="img" *ngFor="let investor of InvestorsImage">
                            <div style="display: flex;align-items: center;flex-direction: column;">
                                <span style="font-size: 14px;">{{investor.name}}</span>
                                <img [src]="investor.img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="investors-deatil">
                <span style="font-size: 14px;color: #757575;">For media queries, contact: <span
                        class="website">press@urbancompany.com</span></span> <br>
                <span style="margin-top: 20px; font-size: 18px;line-height: 31px;color: #555;">You could be a part of
                    our
                    journey.Intersted?</span> <br>
                <button>Apply Now</button>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div> <app-sidebar [childVariable]="childVariable" (variableChanged)="onVariableChange($event)"
    *ngIf="sidebarVisible"></app-sidebar>