* {
  overflow: hidden;
}

.main-section {
  background-image: url(../../assets/1615375782838-f890f8.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  margin-top: 1px;

  .main-container-two {
    width: 100%;
    height: 552px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.16),
      rgba(0, 0, 0, 0.8)
    );
  }
}

.header-main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 15px;

    .navbar-list-item {
      list-style: none;
      color: #ffffffe3;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
    }

    .registration {
      border-bottom: 2px solid #fff;
      height: 20px;
    }

    .help {
      margin-left: 10px;
    }
  }
}

.section1-container {
  margin-top: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .section1-list-content {
    display: flex;
    align-items: center;

    .section1-list-item {
      color: rgb(221, 221, 218);
      font-size: 12px;
      list-style: none;
      cursor: pointer;
      font-weight: 300;
      margin: 6px 7px 0px 0px;
      // margin-top: 24px;
    }
  }

  .section-heading {
    font-size: 48px;
    color: white;
    text-align: center;
    font-weight: 500;
    z-index: 3;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 480px) {
    .section-heading {
      font-size: 1.5rem;
      color: white;
      text-align: center;
      margin-bottom: 25px;
    }
  }

  @media (max-width: 400px) {
    .section-heading {
      font-size: 1.3rem !important;
      color: white;
      text-align: center;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width: 400px) {
    .section-heading {
      font-size: 2rem;
    }
  }

  .input-main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;

    .search-input-container {
      display: flex;
      align-items: center;
      background-color: rgb(255, 255, 255);
      margin-left: 20px;
      border-radius: 4px;
    }

    .search-input {
      background-color: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 588px;
      border-radius: 4px;
      height: 54px;
      margin-left: 20px;

      ::placeholder {
        color: grey;
        opacity: 0.5;
        font-size: 14px;
      }
    }

    @media (max-width: 480px) {
      .search-input {
        width: 350px;
        margin-left: 0px;
      }
    }

    @media (max-width: 400px) {
      .search-input {
        width: 300px;
        margin-left: 0px;
      }
    }

    @media (max-width: 370px) {
      .search-input {
        width: 250px;
        margin-left: 0px;
      }
    }

    .select-location {
      border: none;
      border-radius: 4px;
      margin-bottom: 14px;
      cursor: pointer;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 53px;
      width: 220px;
      padding: 5px;

      select {
        margin-right: 6px;
        border: none;
        color: rgb(105, 105, 105);
        font-size: 0.7rem;
      }

      img {
        margin-left: 6px;
      }
    }
  }
}

@media (max-width: 480px) {
  .search-input {
    width: 300px;
    margin-left: 0px;
  }
}

@media (max-width: 435px) {
  .section1-container {
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .services-options-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .service-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      li {
        list-style: none;
        font-size: 0.6rem;
        color: white;
        text-decoration: underline;
        padding: 2px;
        cursor: pointer;
      }
    }
  }
}

.services-options-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;

  .service-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 5px;

    li {
      list-style: none;
      font-size: 14px;
      color: #fff;
      cursor: pointer;
      border-bottom: 1px solid #fff;
      font-weight: 300;
    }
  }
}

.uc-services-cards-container {
  position: relative;
  top: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 816px;
  border-radius: 4px;
  box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  margin: 0 auto;
  padding: 24px;
}

.services-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .services-cards-container-child {
    display: flex;
    align-items: center;
    text-align: center;
    .service-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 160px;
      height: 112px;
      padding: 24px 16px 10px 16px;
      justify-content: center;
      .service-image-container {
        width: 32px;
        height: 32px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .service-title {
        display: inline-block;
        margin-top: 16px;
        line-height: 16px;
        font-size: 13px;
        color: #212121;
        text-transform: capitalize;
      }
    }
  }
}

.service-item:hover {
  background-color: rgb(249, 247, 245);
  border-radius: 5px;
}

@media screen and (max-width: 1040px) {
  .uc-services-cards-container {
    width: 50%;
    height: auto;
    font-size: 0.6rem;
    top: -70px;
  }

  .services-cards-container {
    grid-template-columns: auto auto;
  }

  .service-title {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .uc-services-cards-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }

  .services-cards-container {
    grid-template-columns: auto;
  }

  .service-title {
    font-size: 0.5rem;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-container > div {
  display: flex;
  width: 266px;
  height: 150px;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  object-fit: contain;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cards {
  transition: transform 0.3s ease;
}

.cards:hover {
  transform: scale(1.1);
}

.tryClass {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition-property: opacity;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: b_g08b;
  z-index: 10;
  animation-duration: 0.25s;
  transition-duration: 0.25s;
}
.navbar-brand img {
  opacity: 1; /* Set the desired opacity (0 to 1) */
}
