<div class="footer-main-container">
    <div class="sub-container">
        <ul class="cities-list-main">
            <li>
                <ul class="others-footer-content-list">
                    <li>About Us</li>
                    <li>UC Impact</li>
                    <li>Term & Conditions</li>
                    <li>Privacy Policy</li>
                    <li>Interset-Based Advertising</li>
                    <li>Contact Us</li>
                    <li>Quick links</li>
                    <li>Blog</li>
                    <li>Reviews</li>
                    <li>Near me</li>
                    <li>Careers</li>
                    <li>Contact Us</li>
                    <li>Mohali</li>
                    <li>Information</li>
                    <li>RO Water</li>
                    <li>Mohali</li>
                    <li>Mohali</li>
                    <li>Mohali</li>

                </ul>
            </li>
            <div style="height: 1px; background-color: #c6c2c2; width: 100%; margin-top: 25px; margin-bottom: 40px;">
            </div>
            <span style="margin-left: 18px; font-size: 12px; font-weight: 600;">Serving in</span>
            <li>
                <span style="margin-left: 10px;font-size: 12px; font-weight: 600; ">USA</span>
                <ul class="cities-list">
                    <li>Austlin</li>
                    <li>Austlin</li>
                    <li>Austlin</li>
                    <li>Austlin</li>

                </ul>
            </li>
            <li>
                <span style="margin-left: 10px; font-size: 12px; font-weight: 600;">IND</span>
                <ul class="cities-list">
                    <li>Mohali</li>
                    <li>Mohali</li>
                    <li>Mohali</li>
                    <li>Mohali</li>
                    <li>Mohali</li>
                    <li>Mohali</li>

                </ul>
            </li>
            <li>
                <span style="margin-left: 10px; font-size: 12px; font-weight: 600;">IND</span>
                <ul class="cities-list">
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                    <li>Azamgarh</li>
                </ul>
            </li>

            <div style="height: 1px; background-color: #c6c2c2; width: 100%; margin-top: 25px;"></div>
            <div class="social-content-container">
                <div class="app-logo" style="cursor: pointer; width: 150px; height: auto; overflow: hidden;">
                    <img style="width: 100%; margin-top: 10px; height: 100%; object-fit: cover;"
                        src="../../assets/ap-logo.png" alt="">
                </div>
                <div class="company-details">
                    <span style="font-size: 12px;">@2023 RedSky Advance Solutions Pvt. Ltd.</span>
                </div>
                <div class="social-media-icons-platforms">
                    <img width="20" style="font-size:20px ;" src="../../../assets/twitter.png" alt="">
                    <img width="20" style="font-size:20px ;" src="../../../assets/facebook.png" alt="">
                    <img width="20" style="font-size:20px ;" src="../../../assets/instagram.png" alt="">
                    <img width="20" style="font-size:20px ;" src="../../../assets/youtube.png" alt="">
                    <img width="20" style="font-size:20px ;" src="../../../assets/p.png" alt="">
                </div>
                <div class="store-icons-container">
                    <img width="150" src="../../../assets/google-play-icon.png" alt="">
                </div>
                <div class="app-store-icons-container">
                    <img width="150" src="../../../assets/app-store-icon.png" alt="">
                </div>
            </div>
        </ul>
    </div>
</div>